<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Canova Construction - General Contractors - Marblehead, Massachusetts</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="home building, renovations, condominiums, new homes, construction, historical, contractor, general contractor, building, modeling, sub contractor, joe, canova, marblehead, massachusetts, usa, quality, carpentry, painting, demolition, remodeling, buildings, structural, service, knowledge, experience, skill, professional, additions, addition, home addition">
    <meta name="description" content="Joseph Canova started Canova Construction in 1982 and the business primarily dealt with the renovation of investment properties and building spec houses. After completing construction of a new home for the CFO of F.W. Webb, Canova Construction moved into the development of industrial facilities for the Webb companies. It was in this corporate world of budget and time restraints that Joe learned how to successfully manage large construction projects. Later the direction of the company changed its focus to building and remodeling residential homes in the North shore area. Today we are a small company with the ability to give a high degree of individual attention to every project. We specialize in small home construction as well as complete home renovation-to include condominium renovations as well as additions.">
    <meta name="author" content="Ellis Berner">
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/stylesheets/jquery.fancybox.css" type="text/css" media="screen">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".fancybox").fancybox();
      });
    </script>
  </head>

  {{ content }}

</html>
